<html>
    <head>
        <script src="jquery.min.js"></script>
        <script src="three.min.js"></script>
        <script src="socket.io.js"></script>
        <script src="main.js"></script>
        <script src="socket_client.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css" type="text/css" media="all" />
        <link rel="stylesheet" href="main.css" type="text/css" media="all" />
    </head>
    <body>
      <h1>cool stuff</h1>
      <p>Do what you love , Love what you do</p>
      <canvas id="sample" width="300" height="300"></canvas>
    </body>
</html>
